{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WifiGratis - Admin panel</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'dist/sb-admin/bower_components/bootstrap/dist/css/bootstrap.min.css' %}" rel="stylesheet"/>
    
    <!-- MetisMenu CSS -->
    <link href="{% static 'dist/sb-admin/bower_components/metisMenu/dist/metisMenu.min.css' %}" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="{% static 'dist/sb-admin/dist/css/sb-admin-2.css' %}" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="{% static 'dist/sb-admin/bower_components/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

<style type="text/css">
    
    .table-responsive {
  overflow-x: auto;
}
.panel-body {
  padding: 0px; 
}
</style>
</head>

<body>
{% if user.is_authenticated %}

    <div id="wrapper">

        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">WifiGratis</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <li class="dropdown">
                        <li><a href="#"><i class="fa fa-user fa-fw"></i> {{user.username|capfirst}} </a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="http://redwifigratis.cl:8000/admin/"><i class="fa fa-tasks fa-fw"></i> Admin</a>
                        </li>
                        <li class="divider"></li>
                        <li><a href="/cerrar/"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                        </li>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->

            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                    <!--
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                            /input-group 
                        </li>
                        -->
                        <li>
                            <a href="http://redwifigratis.cl:8000/wifi/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="http://redwifigratis.cl:8000/wifi/campanas"><i class="fa fa-bullhorn fa-fw"></i> Campañas</a>
                        </li>
                        <li>
                            <a href="http://redwifigratis.cl:8000/wifi/estadisticas"><i class="fa fa-bullhorn fa-fw"></i> Estadisticas</a>
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">Estadísticas</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Clientes registrados última semana
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="clientesregistrados"></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.row --> 
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Usuarios registrados última semana
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="usuariosregistrados"></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.row --> 
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Sesiones última semana {{ get_sesionesRegistradas_csv }}
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="sesionestats"></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.row --> 
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Campañas creadas última semana
                            </div>
                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <div id="campanascreadas"></div>
                                </div>
                                <!-- /.table-responsive -->
                            </div>
                            <!-- /.panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                    <!-- /.row --> 
                </div>


                <!-- /.row -->                
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->












{% else %}






        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Ingresar</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" method="POST">{% csrf_token %}
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Nombre usuario" name="username" type="text" autofocus>
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Contraseña" name="password" type="password">
                                </div>
                                <!--
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                    </label>
                                </div>
                                 Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-info btn-block">Ingresar</button>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>






{% endif %}  





















    <!-- jQuery -->
    <script scr='{% static 'dist/sb-admin/bower_components/jquery/dist/jquery.min.js' %}'/></script>

    <!-- Bootstrap Core JavaScript -->
    <script scr='{% static 'dist/sb-admin/bower_components/bootstrap/dist/js/bootstrap.min.js' %}'/></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script scr='{% static 'dist/sb-admin/bower_components/metisMenu/dist/metisMenu.min.js' %}'/></script>

    <!-- Custom Theme JavaScript -->
    <script scr='{% static 'dist/sb-admin/dist/js/sb-admin-2.js' %}'/></script>

    <!-- Flot -->
    <script src='{% static 'dist/sb-admin/bower_components/flot/jquery.flot.js' %}'></script>




<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_API_KEY }}"></script>
<script type="text/javascript">
    google.load("visualization", "1", {packages:["corechart"]});
    google.setOnLoadCallback(function() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Día');
        data.addColumn('number', 'Usuarios nuevos');
        data.addRows({{ usuarios_stats|length }});

        {% for s in usuarios_stats %}  
            data.setValue({{ forloop.counter0 }}, 0, '{{ s.0|date:"d M" }}');
            data.setValue({{ forloop.counter0 }}, 1, {{ s.1 }});
        {% endfor %}

        var chart = new google.visualization.LineChart(document.getElementById('usuariosregistrados'));
        chart.draw(data, {width: '100%', height: '100%', legend:'none'});
    });
</script>


</body>

</html>
